.sui-search-box__submit {
    background: none;
    background-color: black;
  }
  
  .sui-layout-sidebar-toggle {
    color: black;
    border: 1px solid black;
  }
  
  .sui-result__title,
  .sui-result__title-link {
    color: black;
  }
  
  .sui-facet-view-more {
    color: black;
  }

  .sui-result__key q:before, .entry_content q:after {
    content: "";
}